<div id="main-interface">
    <div> {{timerValue}} </div>
    
    <app-text-screen 
      [userInput]="receivedInput"
      [quoteObject]="GameControllerService.quoteObject"
    ></app-text-screen>
    
    <app-text-input 
      (inputChange)="sendToDisplay($event)" 
      [quoteObject]="GameControllerService.quoteObject"
      [fieldDisabled]="GameControllerService.isCountdownActive || !GameControllerService.gameInProgress"
      (gameComplete)="finish()"
    ></app-text-input>

    <div *ngIf="GameControllerService.isCountdownActive">
      Countdown: {{ GameControllerService.countDownSeconds }} seconds
    </div>

    <div *ngIf="!GameControllerService.gameInProgress"> 
        <button (click)="startGame()">Start Game</button>
    </div>

    <div *ngIf="GameControllerService.wpmScore"> 
      <p>your WPM is {{GameControllerService.wpmScore}}</p>
  </div>
    
</div>