<div id="main-interface">
    <div> {{time.toLocaleTimeString("en-GB", {
        minute: "2-digit",
        second: "2-digit",
      })}} </div>
    
      <app-text-screen 
      [userInput]="receivedInput" 
      [quoteObject]="quoteObject"
      ></app-text-screen>
    
      <app-text-input 
      (inputChange)="sendInput($event)" 
      [quoteObject]="quoteObject" 
      [fieldDisabled]="isCountdownActive"
      ></app-text-input>
      <div *ngIf="isCountdownActive">
        Countdown: {{ countDownSeconds }} seconds
      </div>
    <div *ngIf="!gameStarted"> 
        <button (click)="startGame()">Start Game</button>
    </div>
    
</div>