<div id="main-interface">
    <div> {{GameControllerService.time.toLocaleTimeString("en-GB", {
        minute: "2-digit",
        second: "2-digit",
      })}} </div>
    
    <app-text-screen 
      [userInput]="receivedInput"
      [quoteObject]="GameControllerService.quoteObject"
    ></app-text-screen>
    
    <app-text-input 
      (inputChange)="sendToDisplay($event)" 
      [quoteObject]="GameControllerService.quoteObject"
      [fieldDisabled]="GameControllerService.isCountdownActive"
      (gameComplete)="finish()"
    ></app-text-input>

    <div *ngIf="GameControllerService.isCountdownActive">
      Countdown: {{ GameControllerService.countDownSeconds }} seconds
    </div>

    <div *ngIf="!GameControllerService.gameInProgress"> 
        <button (click)="startGame()">Start Game</button>
    </div>
    
</div>