.textScreen {
    width: 700px;
    height: 200px;
    background-color: orange;
}

.sampleText{
    color:red;
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: orange;
}